body {
  position: absolute;
  margin: 0;
  background: #333333;
  font-family: Arial, Helvetica, sans-serif;
  color: aliceblue;
  border: 1px solid rgb(247, 243, 243);
}
.header {
  position: absolute;
  background: url(https://static.pexels.com/photos/248515/pexels-photo-248515.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 450px;
  border: 1px solid rgb(247, 243, 243);
  text-align: center;
  margin-bottom: 10%;
  display: block;
}
/*.menuItens {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}
.menuItem {
  display: inline-block;
  background: white;
  border: 1px solid gray;
  color: black;
  padding: 100px;
  width: 10vh;
  height: 100%;
  margin: 10px;
  text-align: center;
}*/
.a1 {
  margin-top: 100%;
  background: #333333;
  border: 1px solid gray;
  padding: 20px;
  color: aliceblue;
  text-decoration: none;
}
.a1:hover {
  background-color: white;
  color: #333333;
}
main {
}
p {
  margin-bottom: 5vh;
  margin-top: 5vh;
}
h1 {
  margin: 0;
  margin-bottom: 5%;
  margin-top: 5%;
}

main {
  display: block;
  margin-top: 50vh;
  text-align: center;
}
.artical1 {
  background: white;
  color: black;
  border: 1px solid rgb(247, 243, 243);
}

.foto {
  margin-top: 1vh;
  width: 293px;
  height: 100%;
}
.foto2 {
  margin-top: 1vh;
  width: 265px;
  height: 176px;
}
#newsItem {
  box-sizing: border-box;
  display: inline-block;
  border: 0px solid gray;
  width: 33%;
  text-align: center;
}
.styleNews {
  background: #333333;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}
#newsItem2 {
  box-sizing: border-box;
  display: inline-block;
  border: 0px solid gray;
  width: 33%;
  text-align: center;
}
.styleNews2 {
  background: #333333;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}
